{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Bienvenido a la seccion Busqueda de libro por Titulo</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>Formulario de busqueda de libros por titulo/genero/autor</h2>

<ul>
    
        <li><label><span class="label-body">Titulo</span><input type="radio" name="lib_by_title" onclick='go_buscar_por_titulo()'></label></li> 
        <script>
            function go_buscar_por_titulo() {
                 window.location = "{% url 'buscar_l_by_t' %}";
            }
       </script>

        <li><label><span class="label-body">Genero</span><input type="radio" name="lib_by_genero" onclick='go_buscar_por_genero()'></label></li>
        <script>
            function go_buscar_por_genero() {
                 window.location = "{% url 'buscar_l_by_g' %}";
            }
       </script>

        <li><label><span class="label-body">Autor</span><input type="radio" name="lib_by_autor" onclick='go_buscar_por_autor()'></label></li>
        <script>
            function go_buscar_por_autor() {
                 window.location = "{% url 'buscar_l_by_a' %}"; 
            }
       </script>
    
</ul>

<p class="lead">Carga los datos solicitados para realizar una busqueda de libro por titulo</p>
<form action="{% url 'result_l_by_t' %}" method="POST"> {% csrf_token %}
    <input type="text" name="lib_by_title" placeholder="Titulo">
    <input type="submit" value="Buscar">
</form>
{% endblock %}