{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Resultado de la busqueda de Usuario por Nombre</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>USUARIO ENCONTRADO</h2>

{% if usuario_k %}
<ul>
    {% for usuario_n in usuario_k %}
        <li>Nombre: {{ usuario_n.nombre }}</li>
        <li>Apellido: {{ usuario_n.apellido }}</li>
        <li>Alias: {{ usuario_n.alias }}</li>
        <br>
    {% endfor %}
</ul>
{% else %}
<p>NO SE ENCONTRARON USUARIOS CON ESE NOMBRE</p>
{% endif %}
{% endblock %}