{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Resultado de la busqueda de libro por Autor</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>TITULOS ENCONTRADOS</h2>

{% if autor_libro_k %}
<ul>
    {% for autor_s in autor_libro_k %}
        <li>Titulo: {{ autor_s.titulo }}</li>
        <li>Autor: {{ autor_s.autor }}</li>
        <li>Genero: {{ autor_s.genero }}</li>
        <br>
    {% endfor %}
</ul>
{% else %}
<p>NO SE ENCONTRARON TITULOS de ese autor</p>
{% endif %}
{% endblock %}