{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Resultado de la busqueda de libro por Genero</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>TITULOS ENCONTRADOS</h2>

{% if gen_libro_k %}
<ul>
    {% for genero_s in gen_libro_k %}
        <li>Titulo: {{ genero_s.titulo }}</li>
        <li>Autor: {{ genero_s.autor }}</li>
        <li>Genero: {{ genero_s.genero }}</li>
        <br>
    {% endfor %}
</ul>
{% else %}
<p>NO SE ENCONTRARON TITULOS por ese genero</p>
{% endif %}
{% endblock %}