{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Resultado de la busqueda de libro por Titulo</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>TITULOS ENCONTRADOS</h2>

{% if titulo_libro_k %}
<ul>
    {% for titulo in titulo_libro_k %}
        <li>Titulo: {{ titulo.titulo }}</li>
        <li>Autor: {{ titulo.autor }}</li>
        <li>Genero: {{ titulo.genero }}</li>
        <br>
    {% endfor %}
</ul>
{% else %}
<p>NO SE ENCONTRARON TITULOS</p>
{% endif %}
{% endblock %}