{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Bienvenido a Libreria Virtual F&F</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>Que vamos a encontar en la seccion libros?</h2>
<p class="lead">En esta seccion encontraremos todos los titulos que se encuentran disponibles en la Lib!</p>
<ul>
    <li>Registrate para acceder a importantes beneficios!</li>
    <li>Podes realizar busquedas por titulo/autores/genero</li>
    <li>Todos los dias se agregan nuevos titulos!</li>
    <li>Subscrite y recibi por mail todas las novedades de la semana</li>
</ul>

{% endblock %}