{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Bienvenido a la seccion Registro de Usuarios</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>Carga de Usuarios</h2>
<p class="lead">Carga los datos solicitados para registrarte</p>
<form action="{% url 'usuariosf' %}" method="POST"> {% csrf_token %}
<table>
    {{ u_formulario.as_table }}
</table>
<input type="submit" value="Registrar">
</form>
{% endblock %}